body{
  margin:0;
  font-family:Arial;
  background:red;
  color:yellow;
}

.header{
  text-align:center;
  padding:20px;
  border-bottom:4px solid yellow;
}

.title{
  text-align:center;
  font-size:30px;
}

.item{
  background:darkred;
  margin:15px;
  padding:20px;
  border-radius:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.item h3{font-size:24px;margin:0;}
.item p{font-size:18px;margin:5px 0;}

.item button{
  width:55px;
  height:55px;
  font-size:30px;
  background:yellow;
  color:red;
  border:none;
  border-radius:50%;
}

.cart{
  position:fixed;
  bottom:70px;
  width:100%;
  background:yellow;
  color:red;
  padding:15px;
  text-align:center;
  font-size:20px;
}

.order{
  position:fixed;
  bottom:0;
  width:100%;
  padding:18px;
  font-size:22px;
  background:orange;
  border:none;
  font-weight:bold;
}
