.form {
  background: #700000;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}

textarea, input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}
